/* [0] */

@font-face {
    font-family: 'OpenMoji';
    font-style: normal;
    font-weight: 400;
    font-display: swap;
    src: url("/plugins/siyuan-plugin-openmoji-emoji/OpenMoji-color-glyf_colr_0.ttf");
}

:root {
    --b3-font-family-emoji: 'OpenMoji', sans-serif !important;
    --b3-font-family-code: "JetBrainsMono-Regular", mononoki, Consolas, "Liberation Mono", Menlo, Courier, monospace, 'OpenMoji', "Apple Color Emoji", "Segoe UI Emoji", "OpenMoji", "Segoe UI Symbol", "Android Emoji", "EmojiSymbols" !important;
    --b3-font-family: "Helvetica Neue", "Luxi Sans", "DejaVu Sans", "Hiragino Sans GB", "Microsoft Yahei", sans-serif, 'OpenMoji', "Apple Color Emoji", "Segoe UI Emoji", "OpenMoji", "Segoe UI Symbol", "Android Emoji", "EmojiSymbols" !important;
}